

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  /* font-family: 'Work Sans', sans-serif; */
}

:root{
  --ff-header: 'Great Vibes', serif;
  --ff-body: 'Roboto Condensed', sans-serif;

  --clr-primary: #E63946;
  --clr-secondary: #f1faee;
  --clr-third: #a8dadc;
  --clr-fourth: #457b9d;
  --clr-fifth: #1d3557;
}
body {
  font-family: 'Roboto Condensed';
}

/* p:hover{
    border-bottom: 2px solid white;
} */

/* split into several css modules / create css for better cascading */

#slide {
    position: absolute;
    left: -100px;
    width: 100px;
    height: 100px;
    background: blue;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

.grid {
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .spotify{
      margin-left:33%;
      margin-right: 33%;
      width: 33%
  }

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}


/*react-datepicker css was here*/