
.search {
  width: 100%;
  height: 87%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  padding: 100px;
  align-items: center;
  font-family: 'Roboto Condensed';
  background: rgb(168,218,220);
  background: linear-gradient(90deg, rgba(168,218,220,1) 0%, rgba(241,250,238,1) 50%, rgba(69,123,157,1) 100%);
}

.infoicon {
  position: absolute;
  top: 10px;
  right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: white;
}

.searchImg {
  border-radius: 10px;
}

.searchbox {
  min-width: 400px;
  width: 25%;
  margin-top: 20px;
  text-align: center;
}

.input {
  text-align: center;
}

.searchimg {
  height: 75%;
}