
.search{
  width: 100%;
  height: 87%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  padding: 100px;
  align-items: center;
  font-family: 'Roboto Condensed';
}

.infoicon{
  padding: 0;
  padding-right: 100%;
}

.searchbox {
  width: 25%;
  text-align: center;
}


.input {
  text-align: center;
}

.searchimg {
  height: 50%;
}